############################################
######### Byzcast Configurations ###########
############################################

byzcast.group.tree_members = 0,1,2
byzcast.group.tree_topology = 0->1,0->2

#byzcast.group.tree_members = 0,1,2,3,4,5,6
#byzcast.group.tree_topology = 0->1,0->2,1->3,1->4,2->5,2->6
#byzcast.group.tree_topology = 0->1,1->2,2->3,3->4,4->5,5->6

#byzcast.group.tree_members = 0,1,2,3,4,5,6,7
#byzcast.group.tree_topology = 0->1,1->2,0->3,3->4,0->5,5->6,0->7
#byzcast.group.tree_topology = 0->1,1->2
